<mat-toolbar class="navigation-bar">

  <button mat-button class="icon-button" aria-label="Button with menu icon" (click)="toggleSidebar()">
    <mat-icon aria-label="menu icon" fontIcon="menu" class="icon-size"></mat-icon>
  </button>

  <a class="logo-spacer" href="http://localhost:4200">
    <img src="assets/logo_fundopreto.png" class="logo"/>
  </a>
  <span class="example-spacer"></span>

  <div *ngIf="isSearchBarShown" class="div-searching">
    <form class="div-search" (ngSubmit)="onInputSearch()">
      <input class="search-bar" placeholder="Pesquise por categoria" type="text" id="search" name="search" (ngModel)="textToSearch">
    </form>
    <div>ou</div>
    <button class="advanced-search" (click)="goToAdvancedSearch()">
      <div style="margin-bottom: 0px;">Busca</div>
      <div style="margin-top: 0px;">Avançada</div>
    </button>
  </div>

  <button mat-button class="icon-button" aria-label="Button with search icon" (click)="onSearchIcon()">
    <mat-icon aria-label="search icon" fontIcon="search" class="search-icon"></mat-icon>
  </button>

  <button mat-button class="icon-button" aria-label="Button with add icon" (click)="openCadastroPopup()">
    <mat-icon aria-label="add icon" fontIcon="add" class="icon-size"></mat-icon>
  </button>

  <button mat-button class="icon-button" aria-label="Button with person icon">
    <mat-icon aria-label="person icon" fontIcon="person" class="icon-size"></mat-icon>
  </button>

</mat-toolbar>
