.example-spacer {
  flex: 1 1 auto;
}

.navigation-bar {
  height: 70px;
  background-color: rgb(25, 25, 25);
}

.logo {
  padding-top: 2px;
  height: 45px;
  padding-left: 12px;
}

.logo-spacer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 30px
}

.icon-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-size {
  height: 35px !important;
  width: 35px !important;
  font-size: 35px !important;
  color: white;
}

.div-search {
  display: flex;
  color: white;
  font-size: 10px;
  flex-direction: column;
  padding-right: 10px;
}

.search-bar {
  height: 35px;
  width: 400px;
  border-radius: 25px;
  display: flex;
  text-align: center;
  font-size: 20px;
  background-color: rgb(84, 84, 84);
  color: white;
  border: none;
  margin-right: 10px;
}

.search-icon {
  height: 32px !important;
  width: 32px !important;
  font-size: 32px !important;
  color: white;
}

::placeholder {
  color: rgb(193, 193, 193);
}

.div-searching {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white
}

.advanced-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  align-items: center;
  background-color: rgb(25, 25, 25);
  color: white;
  border: none;
  font-weight: bold;
}
