.imagem-container {
  display: flex;
  justify-content: space-between;
}

ngx-masonry {
  display: flex;
  flex-wrap: wrap;
}

.masonry-item {
  flex-basis: calc(10% - 100px);
  border: none;
}

.image-item {
  height: 190px;
}
