<mat-sidenav-container>
  <mat-sidenav #sidenavRef mode="over" (backdropClick)="onBackdropClick()" [@slideInOut]="isSidenavOpen ? 'open' : 'closed'">

    <div class="mini-toolbar">
      <button mat-icon-button class="icon-menu" (click)="onNavSidebarToggle()" >
        <mat-icon>menu</mat-icon>
      </button>

      <span class="logo-spacer">
        <img src="assets/logo.png" class="logo"/>
      </span>
    </div>

  </mat-sidenav>

  <div class="app-content">
    <app-main-toolbar (navSidebar)="onNavSidebarToggle()"></app-main-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
