.imagens-container {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}

ngx-masonry {
  display: flex;
  flex-wrap: wrap;
}

.masonry-item {
  flex-basis: calc(33% - 100px);
  border: none;
}

.image-item {
  height: 514px;
  width: 383px;
  fill: true;
  border-radius: 5px;
}
