mat-stepper {
  margin: 10px;
}

.box-botoes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.barra-inteira {
  width: 100%;
}

.error {
  color: red
}

.foto-exemplo {
  height: 200px;
}
